<p id="notice"><%= notice %></p>

<h1>Listing Achievements</h1>

<table>
  <thead>
    <tr>
      <th>Blizzard</th>
      <th>Title</th>
      <th>Faction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @achievements.each do |achievement| %>
      <tr>
        <td><%= achievement.blizzard_id %></td>
        <td><%= achievement.title %></td>
        <td><%= achievement.faction_id %></td>
        <td><%= link_to 'Show', achievement %></td>
        <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
        <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Achievement', new_achievement_path %>
