<p id="notice"><%= notice %></p>

<p>
  <strong>Blizzard:</strong>
  <%= @achievement.blizzard_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @achievement.title %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @achievement.faction_id %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
