(partial):
<% location = meeting.location %>
<div>Meeting location: <%= location.address1 %>,
  <%= location.city %>,
  <%= location.state %>
  <%= location.postal_code %></div>
<div>Meeting time: <%= meeting.start %></div>
<div>Meeting length: <%= meeting.length %> hours</div>
