.col-xs-12.col-md-6.col-lg-8
  = nested_form_for @quiz_activity.question do |f|
    = f.hidden_field 'quiz_activity_id', value: @quiz_activity.id
    = f.fields_for :page_content do |pf|
      .form-group
        = pf.label :content, 'Question'
        = pf.text_area :content, class: 'form-control', rows: '5', maxlength: 150, placeholder: 'question'
    = f.fields_for :answers do |af|
      .form-group
        = af.label :text, 'Answer'
        .input-group
          = af.text_field :text, class: 'form-control', placeholder: 'answer'
          .input-group-btn
            = af.link_to_remove 'Remove answer', class: 'btn btn-default'
    .form-group
      = f.link_to_add 'Add answer &plus;'.html_safe, :answers, class: 'btn btn-default'
    .form-group
      = link_to 'Cancel', @quiz_activity.page, class: 'btn btn-default'
      = f.submit 'Update question', class: 'btn btn-primary'
.col-xs-12.col-sm-8.col-md-6.col-lg-4
  = form_tag find_aliases_fill_in_the_blank_question_path(@quiz_activity.question), method: :get do
    .form-group
      = label_tag :q, 'Search for answers like:'
      = text_field_tag :q, nil, class: 'form-control', placeholder: 'alias'
    .form-group
      = submit_tag 'Find answers', class: 'btn btn-default'
