= nested_form_for @quiz_activity.question, url: @quiz_activity.question.decorate.create_for_section_url do |f|
  = f.hidden_field 'section_id', value: @quiz_activity.section.id
  = f.fields_for :page_content do |pf|
    .form-group
      = pf.label :content, 'Question'
      = pf.text_area :content, class: 'form-control', rows: '5', maxlength: 150, placeholder: 'question'
  = f.fields_for :answers do |af|
    .form-group
      = af.label :text, 'Answer'
      .input-group
        = af.text_field :text, class: 'form-control', placeholder: 'answer'
        .input-group-btn
          = af.link_to_remove 'Remove answer', class: 'btn btn-default'
  .form-group
    = f.link_to_add 'Add answer &plus;'.html_safe, :answers, class: 'btn btn-default'
  .form-group
    = link_to 'Cancel', @section, class: 'btn btn-default'
    = f.submit 'Create question', class: 'btn btn-primary'
