<% provide(:title, "User profile: #{@user.username}") %>
<div class="panel user-profile">
  <h2>Hello, <%= @user.username %></h2>
  <%= link_to "Edit Profile", "#", class: "btn" %>
</div>

<div class="panel user-decks">
  <h2>Your decks (<%= @user.decks.count %>)</h2>
  <%= link_to "New", new_deck_path, class: "btn blue new" %>
  <% if @user.decks.any? %>
    <ol class="decks">
      <%= render @decks %>
    </ol>
  <% end %>
  <%= will_paginate @decks %>
</div>
