<% provide(:title, "User profile: #{@user.username}") %>

<% if logged_in? %>
  <div class="sidebar left">
    <%= render 'shared/user_show_edit_panel' %>
  </div>
<% end %>

<div class="content">
  <div class="panel user-decks">
    <h2>Decks (<%= @user.decks.count %>)</h2>
    <%= link_to "New", new_deck_path, class: "btn blue new" %>
    <% if @user.decks.any? %>
      <ol class="decks">
        <%= render @decks %>
      </ol>
    <% end %>
    <%= will_paginate @decks %>
  </div>
</div>
