.col-xs-12.col-sm-7.col-md-5.col-lg-4
  .panel.panel-default
    .panel-body
      %h2 Resend confirmation instructions
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'
        .form-group
          = f.submit "Resend confirmation instructions", class: 'btn btn-default'
      = render "users/shared/links"
