<%
condition_types = Selector::AVAILABLE_SELECTORS.map do |selector_class|
  [selector_class.selector_description, selector_class.name]
end
%>
<%= form_for([@feed, @selection_criterion]) do |f| %>
  <% if @selection_criterion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selection_criterion.errors.count, "error") %> prohibited this selection_criterion from being saved:</h2>

      <ul>
      <% @selection_criterion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Condition type" %>
    <%= select("selection_criterion", "implementation_class",
               condition_types, {}, class: 'form-control') %>
  </div>
  <div class="field">
    <%= f.label "Expression" %><br>
    <%= text_area("selector",
                  "expression", { class: 'form-control' } ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
