<h1>Listing selection_criteria</h1>

<table>
  <thead>
    <tr>
      <th>Implementation class</th>
      <th>Configuration</th>
      <th>Sql expression</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selection_criteria.each do |selection_criterium| %>
      <tr>
        <td><%= selection_criterium.implementation_class %></td>
        <td><%= selection_criterium.configuration %></td>
        <td><%= selection_criterium.sql_expression %></td>
        <td><%= link_to 'Show', selection_criterium %></td>
        <td><%= link_to 'Edit', edit_selection_criterium_path(selection_criterium) %></td>
        <td><%= link_to 'Destroy', selection_criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Selection criterium', new_selection_criterium_path %>
