<p id="notice"><%= notice %></p>

<p>
  <strong>Implementation class:</strong>
  <%= @selection_criterium.implementation_class %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @selection_criterium.configuration %>
</p>

<p>
  <strong>Sql expression:</strong>
  <%= @selection_criterium.sql_expression %>
</p>

<%= link_to 'Edit', edit_selection_criterium_path(@selection_criterium) %> |
<%= link_to 'Back', selection_criteria_path %>
