.col-xs-12
  .page-header
    %h1
      = link_to "#{@course.title}:", @course
      %br
        Lessons
.col-xs-12
- @course.sections.each do |section|
  .row
    = render partial: 'section_form', locals: { section: section }
.col-xs-3.col-md-1
  %button.btn.btn-lg.btn-default{ 'data-toggle' => 'modal', 'data-target' => '#add_section_modal' }
    Add lesson &plus;
.modal.fade{ id: 'add_section_modal', tabindex: -1, role: 'dialog', 'aria-labelledby' => 'Add section', 'aria-hidden' => true }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal'}
          %span{ 'aria-hidden' => true } &times;
          %span.sr-only Close
        %h4.modal-title New Lesson
      = form_for @course, url: add_section_course_path(@course) do |f|
        .modal-body
          = fields_for :section do |sf|
            .form-group
              = sf.label :name
              = sf.text_field :name, class: 'form-control'
        .modal-footer
          %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal'} Cancel
          = f.submit class: 'btn btn-primary'
