.col-xs-12.col-md-8
  .col-xs-12
    .page-header
      %h1
        = @course.title
    .panel.panel-primary
      .panel-body
        = @course.page_content
  .col-xs-12
    .pull-right
      - if @course.sections.empty?
        = link_to 'This course has no lessons. Add a lesson', edit_sections_course_path(@course), class: 'btn btn-primary'
      - else
        = link_to 'Begin course', @course.sections.first, class: 'btn btn-primary'
.col-xs-12.col-md-4
  = render partial: 'menu', locals: { course: @course }
