= form_for(@watch, html: { role: :form } ) do |f|
  - if @watch.errors.any?
    .alert.alert-error
      %h4= "#{pluralize(@watch.errors.count, "error")} prohibited this watch from being saved:"
      %ul
        - @watch.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :user_id
  .form-group
    = f.label :nickname
    = f.text_field :nickname, class: "form-control"
  .form-group
    = f.label :item_id, "Item"
    = f.hidden_field :item_id, class: "form-control"
  = f.submit 'Save', class: "btn btn-primary"
