= form_for(@watch, html: { role: :form } ) do |f|
  - if @watch.errors.any?
    .alert.alert-danger
      %h4 Cannot save watch:
      %ul
        - @watch.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :user_id
  .form-group
    = f.label :nickname
    = f.text_field :nickname, class: "form-control"
  .form-group
    = f.label :item_id, "Item"
    = f.hidden_field :item_id, class: "form-control"
  .panel.panel-default
    .panel-heading
      %strong Location Filter
    .panel-body
      .location-filter{ role: :tabpanel }
        %ul.nav.nav-pills{ role: :tablist }
          %li{ role: :presentation, class: tab_class(@watch, nil) }
            %a{ href: "#tab-none", "aria-controls" => "tab-none", role: :tab, data: { toggle: :tab } } None
          %li{ role: :presentation, class: tab_class(@watch, :region) }
            %a{ href: "#tab-region", "aria-controls" => "tab-region", role: :tab, data: { field: :watch_region_id, toggle: :tab } } Region
          %li{ role: :presentation, class: tab_class(@watch, :station) }
            %a{ href: "#tab-station", "aria-controls" => "tab-station", role: :tab, data: { field: :watch_station_id, toggle: :tab } } Station
        .tab-content
          .tab-pane#tab-none{ role: :tabpanel, class: tab_class(@watch, nil) }
          .tab-pane#tab-region{ role: :tabpanel, class: tab_class(@watch, :region) }
            .form-group
              = f.hidden_field :region_id, class: "form-control"
          .tab-pane#tab-station{ role: :tabpanel, class: tab_class(@watch, :station) }
            .form-group
              = f.hidden_field :station_id, class: "form-control"
  = f.submit 'Save', class: "btn btn-primary"
