<%= form_for(@quest) do |f| %>
  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% @quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :blizzard_id %><br>
    <%= f.number_field :blizzard_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :req_level %><br>
    <%= f.number_field :req_level %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
