<p id="notice"><%= notice %></p>

<h1>Listing Quests</h1>

<table>
  <thead>
    <tr>
      <th>Blizzard</th>
      <th>Title</th>
      <th>Category</th>
      <th>Req level</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.blizzard_id %></td>
        <td><%= quest.title %></td>
        <td><%= quest.category %></td>
        <td><%= quest.req_level %></td>
        <td><%= quest.level %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quest', new_quest_path %>
