
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %> @ <strong><%=link_to @venue.name, @venue%></strong>
</p>
<p>
  <strong>Avg price:</strong>
  <%= number_to_currency(@event.avg_price) %>
</p>

<p>
  <strong>Low price:</strong>
  <%= number_to_currency(@event.low_price) %>
</p>

<%= link_to 'Back', events_path %>
