<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Avg price:</strong>
  <%= @event.avg_price %>
</p>

<p>
  <strong>Low price:</strong>
  <%= @event.low_price %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
