<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Lunchy", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <% if logged_in? %>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "History", history_path %>
        </li>
        <li>
          <%= link_to "People", users_path %>
        </li>
        <li>
          <%= link_to "Venues", venues_path %>
        </li>
        <li>
          <%= link_to "Log Out", logout_path, method: :delete %>
        </li>
      </ul>
    </div>
    <% else %>
      <% if current_page?(root_url) %>
      <div id="navbar" class="navbar-collapse collapse">
        <%= form_for(:session, url: login_path, :html => { :class => "navbar-form navbar-right" }) do |f| %>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <%= f.email_field :email, class: "form-control", placeholder: "Enter email address" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <%= f.submit "Log In", class: "btn btn-success" %>
        <% end %>
      </div> 
      <% end %>
    <% end %>
  </div>
</nav>
