= paginate(@items)
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th EVE ID
      %th Name
      %th.text-right
  %tbody
    - @items.each do |item|
      %tr.item{ id: "item-#{item.id}" }
        %td.field-in_game_id= item.in_game_id
        %td.field-name= item.name
        %td.actions.text-right= link_to("View orders", search_orders_path(item: item), class: "btn btn-info btn-xs")
= paginate(@items)
