<h2>Please fill out the form below</h2>

<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>

  <% if @user.errors.any? %>
    <font color='red'>
	  <ul>
		<% @user.errors.full_messages.each do |error| %>
		<li>Issue: <%= error %></li>
		<% end %>
	  </ul>
	</font>
  <% end %>

  <%= submit_tag 'Sign-Up!' %>
<% end %>
