<section class="main-content type-system-rounded">
  <p class="right-aligned-link"><%= link_to "Create a New Artist", new_artist_path %></p>

  <% if current_user_admin? %>
    <div class="right-aligned-search">
      <%= form_tag(search_for_artist_path, method: "get") do %>
        <ol>
          <li>
            <%= label_tag :search_query, "Add a New Artist" %>
            <%= text_field_tag :search_query %>
          </li>
          <li>
            <%= submit_tag("Add Artist") %>
          </li>
        </ol>
      <% end %>
    </div>
  <% end %>

  <h1>Artists</h1>

    <% @artists.each do |artist| %>
      <article>
        <h2><%= link_to artist.full_name, artist %></h2>
        <%= markdown(artist.analysis) %>
      </article>
    <% end %>

    <%= paginate @artists %>

</section>
