<article class="type-system-rounded">
  <p class="type"><%= @artist.class %></p>
  <header>
    <div class="column-1">
      <h1><%= @artist.full_name %></h1>

      <%= button_to "Favorite Artist", artist_favorites_path(@artist) %>

      <p>Nationality: <%= @artist.nationality %></h3>
      <p>Birthyear: <%= @artist.birthyear %></p>
    </div>
    <div class="column-2"><%= image_tag(@artist.thumbnail, class: "artist-thumbnail") %></div>
  </header>
  <hr>
  <h3>Biography</h3>
  <%= markdown(@artist.biography) %>
  <hr>
  <h3>Analysis</h3>
  <%= markdown(@artist.analysis) %>
  <h3>Artworks</h3>
  <p><%= link_to "View All Artworks", artist_artworks_path(@artist) %></p>

  <% if current_user %>
    <p><%= link_to "Edit Artist", edit_artist_path(@artist) %> |
    <%= link_to "Delete Artist", @artist, method: :delete, data: { confirm: "Are you sure you want to delete this artist?"} %></p>
  <% end %>

  <p><%= link_to "Back to Artists Page", artists_path %></p>
</article>
