<article class="artist type-system-rounded">
  <p class="type"><%= @artist.class %></p>
  <header>
    <div class="column-1">
      <h1><%= @artist.full_name %></h1>
      <p>Nationality: <%= @artist.nationality %></h3>
      <p>Birthyear: <%= @artist.birthyear %></p>
    </div>
    <div class="column-2"><%= image_tag(@artist.thumbnail, class: "artist-thumbnail") %></div>
  </header>
  <hr>
  <h3>Biography</h3>
  <%= markdown(@artist.biography) %>
  <hr>
  <h3>Analysis</h3>
  <%= markdown(@artist.analysis) %>
  <p><%= link_to "Edit Artist", edit_artist_path(@artist) %> |
  <%= link_to "Delete Artist", @artist, method: :delete, data: { confirm: "Are you sure you want to delete this artist?"} %></p>

  <p><%= link_to "Back to Artists Page", artists_path %></p>
</article>
