<div id='all-events'>
  <div class="table-container">
    <table>
      <% @events.each do |event| %>
        <% member = current_user.has_showing_in?(event) %>
        <% member_class = member_label(member) %>
        <tr>
          <td class="<%= member_class %>">
            <ul>
              <li class='name'>
                <%= link_to event.name.truncate(40), event_url(event), { id: "#{event.name}-events" } %>
              </li>
  
              <% date_range = pretty_date_range(event.showings) %>
              <% showing_count = pretty_showing_count(event.showings) %>
  
              <li class='location'><%= event.location.truncate(40) %></li>
              <li class='date-range'><%= date_range %></li>
              <li class='showing-count'><%= showing_count %></li>
            </ul>
          </td>
          <td class="<%= member_class %> image" %>
            <% if event.image.present? %>
              <img src=<%= event.image %> />
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
  
<div class="nav">
  <div class="cool-round-button events neutral">Events</div>
    <%= link_to 'Home', current_user, :class => 'cool-round-button home' %>
    <%= link_to 'Sources', "http://www.theatreinchicago.com/", :class => 'cool-round-button sources', :target => '_blank' %>
  </div>
</div>
