<div id='all-events'>
  <div class="table">
	<table>
	  <% Event.sort_by_name.each do |event| %>
	  <% member = current_user.has_showing_in?(event) %>
	  <% member_class = member ? "member" : "non-member" %>
	  <tr>
		<td class=<%= member_class %> align='left'><span class='name'>
			<%= link_to event.name.truncate(40), { action: 'show', id: event.id }, 
				{ id: "#{event.name}-events" } %></span>
		</td>
		<td class=<%= member_class %> align='left'><span class='location'><%= event.location.truncate(30) %></span></td>
		<td class=<%= member_class %> align='center'><span class='date-range'><%= event.pretty_date_range %></span></td>
		<td class=<%= member_class %> align='center'><span class='showing-count'><%= event.pretty_showing_count %></span></td>
	  </tr>
	  <% end %>
	</table>
  </div>

  <div class="nav">
	<div class="cool-round-button events neutral">
	  <span class="text">Events</span>
	</div>
	<div class="cool-round-button home">
	  <%= link_to 'Home', current_user %>
	</div>
	<div class="cool-round-button sources">
	  <%= link_to 'Sources', "http://www.theatreinchicago.com/" %>
	</div>
  </div>
</section>
