<div id='event-showings'>
  <div class="table-container">
  <table>
    <% if @event.showings.blank? %>
      <tr><td colspan=3>No Showings on Record</td></tr>
    <% else %>
      <% @event.showings.sorted.each do |showing| %>
        <% member = showing.in?(current_user.showings) %>
        <% member_class = member_label(member) %>
        <% local_time_view = get_local_time_view(showing.time) %>
        <tr class="<%= member_class %>">
          <td class="dow"><%= local_time_view.pretty_dow %></td>
          <td class="date"><%= local_time_view.pretty_date_no_dow %></td>
          <td class="time"><%= local_time_view.pretty_time %></td>
          <td align="center">
            <% if member %>
              <%= link_to image_tag("minus.png", :class => 'minus'), 
                remove_from_user_url(showing),
                method: :post, :id => "remove-#{showing[:id]}-event-show" %>
            <% else %>
              <%= link_to image_tag("plus.png", :class => 'plus'), 
                add_to_user_url(showing),
                method: :post, :id => "add-#{showing[:id]}" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  </div>

  <div class="selection-panel">
    <% if @event.image.present? %>
      <div class="image-box">
        <img src=<%= @event.image %> />
      </div>
      <div class="description">
        <%= @event.description %>
      </div>
    <% end %>

    <%= link_to 'Website', @event.link, :class => 'cool-round-button website', :target => '_blank' %>
    <%= link_to 'Events', events_path, :class => 'cool-round-button events' %>
    <%= link_to 'Home', current_user, :class => 'cool-round-button home' %>
  </div>
</section>
