<div id='session-bar'>
  <nav class='navigate'>
    Logged-In:
    <span class='username'> <%= current_user.name %> </span>
    |<%= link_to 'Home', current_user, :class => 'indented-text' %>
    |<%= link_to 'Events', events_path, :class => 'indented-text', :id => 'session-bar-events' %>
  </nav>
  <div class='logout'>
    <%= link_to 'Logout', session_path(id: 0), method: :delete %>
  </div>
</div>

<div id='footer-bar'>
</div>

<%= image_tag("stock-footage-multiple-colored-d-light-streaks-animated-over-a-grid-p.jpg", class: 'background-image') %>
<%= image_tag("pulse.jpg", class: 'background-image-blurred') %>
