<div class='session-bar'>
  <p class='left'>
	Logged-In:
	<font color='red'>
	  <%= current_user.name %>
	</font>
	&nbsp|&nbsp<%= link_to 'Home', current_user %>
	&nbsp|&nbsp<%= link_to 'Events', events_path %>
  </p>
  <p class='right'>
	  <%= link_to 'Logout', session_path(id: 0), method: :delete %>
  </p>
</div>

<%= image_tag("3d_background_wallpaper_by_zedj-d4m7qg1.png", class: 'background-image-hide') %>
<%= image_tag("3d-HD-Wallpapers.jpg", class: 'background-image-hide') %>
<%= image_tag("stock-footage-multiple-colored-d-light-streaks-animated-over-a-grid-p.jpg", class: 'background-image') %>
