<section id='user-event-showings'>
  <table>
	<tr>
	  <th>Date</th>
      <th>Name</th>
      <th>Location</th>
	  <th>Time</th>
	  <th>Calendar</th>
      <th>Remove</th>
	</tr>
	  <% current_user.sorted_showings.each do |showing| %>
    <tr>
	  <td><%= showing.pretty_local_date %></td>
	  <td><%= link_to showing.name.truncate(25), showing.event %></td>
	  <td><%= showing.location.truncate(30) %></td>
	  <td><%= showing.pretty_local_time %></td>
	  <td>
		<%= link_to 'Update',
			{ controller: 'users', action: 'add_showing_to_calendar', showing_id: showing.id, id: current_user[:id] },
			method: :post, :format => :ics, :id => "add_cal-#{showing.id}" %>
	  </td>
	  <td align='center'>
		<%= link_to image_tag("minus.png", :class => 'minus'), 
		{ controller: 'users', action: 'remove_showing', showing_id: showing[:id], id: current_user[:id] },
		method: :post, :id => "remove-#{showing[:id]}-user-show" %>
	  </td>
    </tr>
	<% end %>
  </table>
</section>
