- if @merchants.any?
  - @merchants.each do |merchant|
    .panel.panel-default
      .panel-heading
        .row
          .col-md-8
            %h3.panel-title= merchant.name
          .col-md-4.text-right
            = link_to(merchant_path(merchant, location: @location), class: "btn btn-info") do
              %i.glyphicon.glyphicon-th-list
              &nbsp;See More
      .panel-body
        - if merchant.description
          %p= merchant.description
        %dl
          - if merchant.phone.present?
            %dt Phone
            %dd= merchant.phone
          - if merchant.location.present?
            %dt Address
            %dd= format_address(merchant.location)
          - if merchant.website_url.present?
            %dt Website
            %dd= link_to(merchant.website_url, merchant.website_url, target: "_blank")
- else
  %p.alert.alert-info No merchants found.
