<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Good Deeds" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= [controller_name, action_name].join(' ') %>">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/flash_messages' %>
    <div class="content-container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>

