<!DOCTYPE html>
<html>
<head>
  <title>LibraryApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
    <div class="nav">
      <ul> 
        <li> <a href="/books/search">Book Search</a></li>
        <li> <a href="/books/collection">My Library</a></li>
        <% if user_signed_in? %>
          <li> <%= link_to("Logout", destroy_user_session_path, method: :delete) %> </li>
        <% else %>
          <li> <%= link_to("Login", new_user_session_path) %></li>
        <% end %>
     </ul>
    </div>






<%= yield %>

</body>
</html>
