<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @category.blizzard_type %>
</p>

<ul>
  <strong>Uncompleted quests</strong>  <br>
    <%= "No remaining quests" if @quests.empty? %>
    <% @quests.each do |quest| %>
  <li> <%= link_to quest.title, quest_path(quest.id), id: quest.title %>
    <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit quest', edit_quest_path(quest) %>
    <% end %>
  </li>
    <% end %>
</ul>
<br>
