<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @category.blizzard_type %>
</p>

<ul id = "quests">
  <strong>Uncompleted quests</strong>
  <%= link_to 'Show hidden', unhide_activities_path(category:
  @category.id, character: @character.id), method:
  :patch, id: "unhide_activities" %>
  <br>
    <%= "No remaining quests" if @available_activities.empty? %>
    <% @available_activities.each do |activity| %>
      <% quest = activity.quest %>
  <li>
	<%= link_to quest.title, quest_path(quest.id), id: quest.title
	    %>
	
	<%= link_to 'Hide', hide_activity_path(activity.id),
	    method: :patch, id: "hide_quest_#{quest.id}" %>
	
	<%= link_to 'Add to goal list', add_to_goals_path(activity.id),
	    method: :patch, id: "add_quest_#{quest.id}" %>
	
	<% if user_signed_in? && current_user.admin? %>
  	  <%= link_to 'Edit quest', edit_quest_path(quest) %>
	<% end %>
      </li>
    <% end %>
</ul> <br>
<ul id= "goals">
  <strong> Goals </strong> <br>
  <% unless @goals.empty? %>
    <% @goals.each do |goal| %>
      <% quest = goal.quest %>
      <li>
	<%= link_to quest.title, quest_path(quest.id), id: quest.title
	    %>
	
	<%= link_to 'Remove from goal list', remove_from_goals_path(goal.id),
	    method: :patch, id: "remove_quest_#{quest.id}" %>
	
	<% if user_signed_in? && current_user.admin? %>
	  <%= link_to 'Edit quest', edit_quest_path(quest) %>
	<% end %>
      </li>
     <% end %>
  </ul>
<% end %>
<br>
