= paginate @regions
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th EVE ID
      %th Name
      %th
  %tbody
    - @regions.each do |region|
      %tr.region{ id: "region-#{region.id}" }
        %td.field-in_game_id= region.in_game_id
        %td.field-name= region.name
        %td
= paginate @regions
