!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Make Me A Sandwich
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render "shared/navbar"
    .container
      - if notice
        .alert.alert-info{ role: :alert }= notice
      - if alert
        .alert.alert-danger{ role: :alert }= alert
      = yield
