<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Opposite of Progress</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="small-2 large-1 columns">&nbsp;</div>
      <div class="small-8 large-10 columns">
        <span class="user-section">
          <% if current_user %>
            <%= current_user.email %>
            <br />
            <%= link_to "Preferences", edit_user_registration_path %>
            |
            <%= link_to "Log out", destroy_user_session_path, :method => 'delete' %>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
            |
            <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
        </span>
        <h1>Opposite of Progress</h1>

        <nav class="top-bar" data-topbar role="navigation">
          <section class="top-bar-section">
            <ul class="left">
              <li><%= link_to "Good Deeds", root_path %></li>
              <li><%= link_to "All Bills", bills_path %></li>
              <li><%= link_to "All Legislators", legislators_path %></li>
            </ul>
          </section>
        </nav>

        <%= yield %>
      </div>

      <div class="small-2 large-1 columns">&nbsp;</div>

      <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>