.user-team-info
  .team-name
    %span.team-name-value{class: "team-name-#{column}"}
    %span.team-data-label team

  .team-keys
    %span.team-data-value{class: "team-keys-#{column}"}
    %span.team-data-label keys

  .team-clicks
    %span.team-data-value{class: "team-clicks-#{column}"}
    %span.team-data-label clicks

  .team-download
    %span.team-data-value{class: "team-download-#{column}"}
    %span.team-data-label MB downloaded

  .team-upload
    %span.team-data-value{class: "team-upload-#{column}"}
    %span.team-data-label MB uploaded

  .team-uptime
    %span.team-data-value{class: "team-uptime-#{column}"}
    %span.team-data-label seconds up
