= form_for @content do |f|
  = f.hidden_field :lesson_id, value: @content.lesson.id
  = f.fields_for :page_content do |pf|
    .form-group
      = pf.label :content
      = pf.text_area :content, class: 'form-control', rows: '10', maxlength: 1500
  = link_to 'Cancel', @content.lesson, class: 'btn btn-default'
  = f.submit class: 'btn btn-primary'
