<h1>Trips#new</h1>
<p>Find me in app/views/trips/new.html.erb</p>

<%= form_tag("/trips", method: "POST") do %>
  <div>
    <%= label_tag(:meeting, "Meeting Date:") %>
    <%= datetime_select(:meeting, :start, default: 3.days.from_now) %>
  </div>

  <div>
    <%= label_tag(:length, "Meeting length:") %>
    <%= number_field_tag(:length, 1.5, in: 1...10, step: 0.25) %>
  </div>

  <div>
    <%= label_tag(:origin_airport, "Origin Airport:") %>
    <%= text_field_tag(:origin_airport, "ORD", size: 3) %>
  </div>

  <div>
    <%= label_tag(:destination_airport, "Destination Airport:") %>
    <%= text_field_tag(:destination_airport, "LGA", size: 3) %>
  </div>

  <div>
    <%= submit_tag("Find shortest trip") %>
  </div>
<% end %>
