<p><%= f.text_field :username, placeholder: "Username" %></p>
<p><%= f.email_field :email, placeholder: "Email" %></p>
<p><%= f.password_field :password, placeholder: "Password" %></p>
<p><%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></p>
<br>
<%= f.submit "Sign Up", class: "btn", name: "signup" %>