<p><%= f.text_field :username, placeholder: "Username", tabindex: 1 %></p>
<p><%= f.email_field :email, placeholder: "Email", tabindex: 2 %></p>
<p><%= f.password_field :password, placeholder: "Password", tabindex: 3 %></p>
<p><%= f.password_field :password_confirmation, placeholder: "Confirm Password", tabindex: 4 %></p>
<br>
<%= f.submit "Sign Up", class: "btn", name: "signup", tabindex: 5 %>
