.col-md-6
  %h2 Twitter Followers
  .bubblechart
    %ul.bubblechains
      %li
        %span Artists
        %table
          - @artists.sort_by{ |a| a.fan_count("Twitter") }.reverse.each do |artist|
            %tr
              %td= artist.nbs_name
              %td= artist.fan_count("Twitter")
              
.col-md-6
  %h2 YouTube Likes
  .bubblechart
    %ul.bubblechains
      %li
        %span Artists
        %table
          - @artists.sort_by{ |a| a.fan_count("YouTube") }.reverse.each do |artist|
            %tr
              %td= artist.nbs_name
              %td= artist.fan_count("YouTube")

.col-md-6
  %h2 Facebook Fans
  .bubblechart
    %ul.bubblechains
      %li
        %span Artists
        %table
          - @artists.sort_by{ |a| a.fan_count("Facebook") }.reverse.each do |artist|
            %tr
              %td= artist.nbs_name
              %td= artist.fan_count("Facebook")

%script{ src: "http://people.csail.mit.edu/eob/cts/widgets/bubblechart.cts", 
         type: "text/cts" }
