%h1 My Artists

%table.table.table-striped
  %tr
    %th Artist
    %th 
  - if @artists.any?
    - @artists.each do |artist|
      %tr
        %td= link_to artist.nbs_name, artist_path(artist.id) 
        %td= button_to "Remove", artist_path(artist), method: :delete, class: "btn btn-default"

= form_for @artist do |f| 
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", placeholder: "Search for another artist"
  .form-group
    = f.submit "Find Artist", class: "btn btn-default"

= render partial: "artist"

/#metrics-over-time{ style: "height: 400px; min-width: 310px" }
