%h1 My Artists


%table.table.table-striped
  %tr
    %th Artist
    %th 
  - if @artists.any?
    - @artists.each do |artist|
      %tr
        %td= artist.name  
        %td= button_to "Remove", artist_path(artist), method: :delete, class: "btn btn-default"


= form_for @artist do |f|
  = f.label :name

  \#{f.text_field :name}
  %br/
  = f.submit


.form-group
  %input.form-control{ placeholder: "Search for another artist...", type: "text"}
%button.btn.btn-default{ type: "submit"} Add

%br

= render partial: "artist"
