<p id="notice"><%= notice %></p>

<h1>Listing Realms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realms.each do |realm| %>
      <tr>
        <td><%= realm.name %></td>
        <td><%= link_to 'Show', realm %></td>
        <td><%= link_to 'Edit', edit_realm_path(realm) %></td>
        <td><%= link_to 'Destroy', realm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realm', new_realm_path %>
