.col-xs-12.col-sm-10.col-md-8.col-lg-6
  = form_for @lesson do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = link_to 'Cancel', @lesson.course, class: 'btn btn-default'
      = f.submit 'Update Lesson', class: 'btn btn-primary'
