- modal_id = 'add_activity_modal'
= yield "##{modal_id}"
.modal.fade{ id: modal_id, tabindex: -1, role: 'dialog', 'aria-labelledby' => 'Add activity', 'aria-hidden' => true }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal'}
          %span{ 'aria-hidden' => true } &times;
          %span.sr-only Close
        %h4.modal-title New page
      .modal-body
        %p= t('lesson.new_page_description')
      .modal-footer
        %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal'} Cancel
        = link_to 'Add Question', new_multiple_choice_question_path(lesson_id: @lesson.id), class: 'btn btn-default'
        = link_to 'Add Material', new_content_path(lesson_id: @lesson.id), class: 'btn btn-primary'
