.col-xs-12
  .page-header
    %h1
      = link_to "#{@lesson.course.title}", @lesson.course
    %br
    .dropdown
      %button.btn.btn-lg.btn-default#lesson-dropdown{ type: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false }
        = @lesson.name
        %span.caret
      %ul.dropdown-menu{ role: 'menu', 'aria-labeledby' => 'lesson-dropdown' }
        - @lesson.course.lessons.each do |lesson|
          %li{ role: 'presentation' }
            = link_to lesson.name, lesson, role: 'menuitem', tabindex: -1
.col-xs-12
  There are no pages!
  = render layout: 'page_form_modal' do |modal_id|
    %button.btn.btn-primary{ 'data-toggle' => 'modal', 'data-target' => modal_id }
      Click to add one
