.jumbotron
  %h1
    Sign Up

= form_for(resource, html: { class: "form-horizontal" },
  as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .panel.panel-success
    .panel-heading
      .panel-title
        Account Information
    .panel-body
      .form-group
        = f.label :username, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :username, autofocus: true, class: "form-control"

      .form-group
        = f.label :email, class: "col-sm-2 control-label"
        .col-sm-10
          = f.email_field :email, class: "form-control"

      - if @minimum_password_length
        .panel.panel-danger
          .panel-body
            %strong
              Password Rules:
            %em
              #{ @minimum_password_length } characters minimum

      .form-group
        = f.label :password, class: "col-sm-2 control-label"
        .col-sm-10
          = f.password_field :password, autocomplete: "off", class: "form-control"

      .form-group
        = f.label :password_confirmation, class: "col-sm-2 control-label"
        .col-sm-10
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

  .panel.panel-info
    .panel-heading
      .panel-title
        Profile Information
    .panel-body
      .form-group
        = f.label :first_name, "First Name", class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :first_name, class: "form-control"

      .form-group
        = f.label :last_name, "Last Name", class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :last_name, class: "form-control"

      .form-group
        = f.label :biography, "Biography", class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_area :biography, class: "form-control"

  = f.submit "Sign Up", class: "btn btn-success"

= render "devise/shared/links"
