.page-header
  %h1 Sign In
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
  .form-group
    = f.label(:email)
    = f.email_field(:email, autofocus: true, class: "form-control")
  .form-group
    = f.label(:password)
    = f.password_field(:password, autocomplete: "off", class: "form-control")
  - if devise_mapping.rememberable?
    .checkbox
      = f.label(:remember_me) do
        = f.check_box(:remember_me)
        Remember me
  = f.submit("Sign In", class: "btn btn-default")

= render "devise/shared/links"
