<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navigation' %>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-9">
      <%=stylesheet_link_tag "application", :media => "all"%>
      <%= javascript_include_tag "application" %>
      <%=csrf_meta_tags%>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
