<article class="type-system-rounded">
  <p class="type"><%= @user.class %></p>
  <header>
    <h1>User Profile</h1>
  </header>
    <p>Email: <%= @user.email %></p>

    <p>Account Type: <%= account_type %></p>

    <% if @favorite_artists.any? %>
      <h2>My Favorite Artists:</h2>
      <section class="artist-list">
        <% @favorite_artists.each do |artist| %>
            <h3><%= link_to artist.full_name, artist %></h3>
            <%= sample_artwork_image(artist) %>
        <% end %>
      </section>
    <% end %>

    <% if current_user? %>
      <p><%= link_to "Edit Account", edit_user_registration_path %> |
      <%= link_to "Delete Account", user_registration_path, method: :delete, data: { confirm: "Are you sure you want to delete your account?"} %></p>
    <% end %>

    <p><%= link_to "Back to Users Page", users_path %></p>
</article>
