%html
  %head
    %title= t(:title)
    = stylesheet_link_tag "application", params[:controller], media: "all"
    = csrf_meta_tags
    %meta{name: :viewport, content: "width=device-width, initial-scale=1"}
  %body
    = render "shared/menu"
    .container-fluid
      - if notice
        %p.alert.alert-info= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield
    = javascript_include_tag 'application', params[:controller]
