- require "date"
- def haml(filename)
  - Haml::Engine.new(File.read(filename)).render

!!!
%html
  %head
    %meta{charset: "UTF-8"}
      %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
      %link{href: "normalize.css", rel: "stylesheet"}
      %link{href: "pmail.css", rel: "stylesheet"}
  %body
    = haml("partials/_navbar.haml")
    = haml("partials/_options_bar.haml")
    %section.main
      = haml("partials/_sidebar.haml")
      = haml("partials/_threads.haml")
    = haml("partials/_footer.haml")

    %script{src: "https://code.jquery.com/jquery-2.1.3.min.js"}
    %script{src: "pmail.js"}