<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Movie Review", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <% if current_user %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        
      </ul>
    </nav>
  </div>
</header>