<head>
  <style>
	table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
	}
	th, td {
      padding: 5px;
	}
	th {
      background: lightblue;
	}
  </style>
</head>

<body>
  <% if signed_in? %>
    <p style="text-align:left;">Logged-In: <font color='red'><%= current_user.name %></font>
    <span style="float:right;"><%= link_to 'Logout', session_path(id: 0), method: :delete %></span></p>
  <% end %>
  <center>
	<h1>Events</h1>

	<table>
	  <tr>
		<th align='center'>When</th>
		<th align='center'>Name</th>
		<th align='center'>Where</th>
		<th></th>
	  </tr>
	  <% @events.each do |event| %>
	  <tr>
		<td align='left'><%= event.time %></td>
		<td align='left'><%= link_to event.name, event %></td>
		<td align='left'><%= event.location %></td>
		<td>
		  <% if @user %>
            <% if event.has_match_in?(@user.events) %>
            <%= link_to 'Add', users_remove_event_path(event_id: event[:id], user_id: @user[:id]), method: :post %>
            <% else %>
            <%= link_to 'Add', users_add_event_path(event_id: event[:id], user_id: @user[:id]), method: :post %>
            <% end %>
		  <% end %>
        </td>
	  </tr>
	  <% end %>
	</table>

	<br>
	<h2>
	  <%= link_to 'Add An Event', new_event_path %>
	</h2>
	<h2>
	  <%= link_to 'Scrape for Events', scrape_path, method: :post %>
	</h2>
  </center>
</body>
