<body>
  <% if signed_in? %>
    <%= render :partial => "session_bar.html.erb" %>

	<center>
	  <h1>All Events</h1>

	  <table>
		<tr>
		  <th>Name</th>
		  <th>Where</th>
		  <th>Dates</th>
		  <th># Shows</th>
		</tr>
		<% Event.all.each do |event| %>
		<% member = current_user.has_showing_in?(event) %>
		<% member_class = member ? "member" : "non-member" %>
		<tr>
		  <td class=<%= member_class %> align='left'><%= link_to event.name.truncate(40), event %></td>
		  <td class=<%= member_class %> align='left'><%= event.location.truncate(40) %></td>
		  <td class=<%= member_class %> align='center'><%= event.pretty_date_range %></td>
		  <td class=<%= member_class %> align='center'><%= event.pretty_showing_count %></td>
		</tr>
		<% end %>
	  </table>

	  <h2>
		<%= link_to 'Scrape for Events', scrape_path, method: :post %>
	  </h2>
	</center>
  <% else %>
    <h3>Please <%= link_to 'sign in', new_session_path %></h3>
  <% end %>
</body>
