<body>
  <% if signed_in? %>
    <%= render :partial => "session_bar.html.erb" %>
	<div class='dim-table' style='position: fixed; top: 5%; left: 0%; padding-top: 0px;'>
	  <%= render :partial => "user.html.erb" %>
	</div>
	<div class='focus-table' style='position: absolute; top: 5%; left: 50%; padding-top: 0px;'>
	  <%= render :partial => "event.html.erb" %>
	</div>
	<div id='event-title'>
	  <div id='event-name'>
		<span id='label'>Showings For:</span>&nbsp
		<span id='value'><%= @event.name %></span>
	  </div>
	  <div id='event-location'>
		<span id='label'>Location:</span>&nbsp
		<span id='value'><%= @event.location %></span>
	  </div>
	  <div id='event-link'>
		<span id=label'>Information:</span>&nbsp
		<span id='value'><%= link_to 'Website', @event.link %></span>
	  </div>
	</p>
  <% else %>
    <h3>Please <%= link_to 'sign in', new_session_path %></h3>
  <% end %>
</body>
