<body>
  <% if signed_in? %>
    <%= render :partial => "session_bar.html.erb" %>
	<%= render :partial => "user.html.erb" %>
	<%= render :partial => "event_showings.html.erb" %>
	<%= render :partial => "event_attributes.html.erb" %>
  <% else %>
    <h3>Please <%= link_to 'sign in', new_session_path %></h3>
  <% end %>
</body>
