<p>Status: <%= @bomb.status %> </p>

<% if @bomb.detonated? %>
<% elsif @bomb.exploded? %>
  <%= erb :_exploded %>
<% elsif @bomb.activated? %>
  <%= erb :_activated %>
  <%= erb :_snip_wires %>
<% else %>
  <%= erb :_deactivated %>
  <%= erb :_snip_wires %>
<% end %>
