- 5.times do
  %br

%center
  - if bomb
    - if bomb.active
      = haml :_deactivation_attempts_remaining
    - if bomb.active && bomb.attempts_remaining > 0
      = haml :_active_bomb
    - elsif !bomb.active && bomb.attempts_remaining > 0
      = haml :_deactivated_bomb
    - if bomb.exploded
      = haml :_bomb_exploded
    - if bomb.attempts_remaining < 3 && bomb.active
      =haml :_bad_deactivation_code
  - else
    = haml :_bomb_not_booted