<img src="<%= activity.anime.cover_image %>" />
<h4><%= activity.activity + ' ' + activity.anime.title %></h4>
<p><%= activity.anime.status %></p>
<p>Rating: <%= output_stars(activity.anime.community_rating) %></p>
<p>Episode: <%= activity.anime.episode_count %></p>
<p><%= activity.anime.synopsis %></p>