<h2><%= "#{@bill.short_title}" %></h2>

<% legislator = Legislator.where(bioguide_id: @bill.sponsor_id).first %>
<% if legislator %>
  <h4>Legislator</h4>
  <div><%= render partial: "legislators/legislator_stub_item", locals: {legislator: legislator} %></div>
<% end %>

<h4>Basics</h4>
<div><%= "Chamber: #{@bill.chamber}" if @bill.chamber %></div>
<div><%= "Last Vote: #{@bill.last_vote_at}" if @bill.last_vote_at %></div>

<hr />

<p align="center"><%= link_to "Back to Bills", bills_path %></p>