.page-header
  %h2 Resend Unlock Instructions

= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!

  .form-group
    = f.label(:email)
    = f.email_field(:email, autofocus: true)

  = f.submit("Resend")

= render("devise/shared/links")
