<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to @review.user.name, @review.user %>
</p>

<p>
  <strong>Performance:</strong>
  <%= link_to @review.performance.show.name, @review.performance %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
