<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <section class="user_info">
        <h3>
          <%= gravatar_for @user %>
          <strong><%= @user.name %></strong>
        </h3>
      </section>
    </div>
  </div>
  <div class="row">
    <hr style="margin-top: 10px">
  </div>
  <div class="row" style="min-height: 88px">
    <div class="col-md-3">
      <%= form_tag("/venues/recommend", remote: true) do %>
        <%= submit_tag "Get Recommendation", class: "btn btn-success" %>
      <% end %>
    </div>
    <div class="col-md-9">
      <div id="venue_rec"></div>
    </div>
  </div>
  <div class="row">
    <hr>
  </div>
  <%= render 'profiles/profile' %>
</div>
