<!DOCTYPE html>
<html>
<head>
  <title>EventAggregator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="PageContainer" class="container">

  <div id="TopBar" class="row">
    <%= render "shared/top_bar" %>
  </div>

  <div id="BodyArea" class="row">

    <div id="LeftBar" class="col-xs-3">
      <%= render "shared/left_bar" %>
    </div>

    <div id="ContentAreaContainer" class="col-xs-9">
      <div id="ContentArea">
        <div id="Messages" class="row">
          <div id="MessageMarquis" class="col-xs-12">
            <%= devise_error_messages! %> 
            <ul>
            <% flash.each do |key, value| %>
              <li><%= key %>: <%= value %></li>
            <% end %>
            </ul>
          </div>
        </div>

        <div id="MainContent" class="row">
          <%= yield %>
        </div>
     </div>
  </div>
  <%= render "shared/bottom_bar" %>
</div>
</body>
</html>
