<!DOCTYPE html>
<html>
<head>
  <title>EventAggregator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/top_bar" %>
<div id="BodyArea">
  <%= render "shared/left_bar" %>
  <div id="MainContent" class="container">
    <%= yield %>
  </div>
</div>
<%= render "shared/bottom_bar" %>
</body>
</html>
