!!!
%html
  %head
    %title Groovemetrics
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    / %p.notice= notice
    / %p.alert= alert
    = nav_bar brand: "Groovemetrics", static: :top
    #user_nav
      - if user_signed_in?
        Signed in as #{current_user.email}. Not you?
        \#{link_to "Edit profile", edit_user_registration_path} |
        \#{link_to "Sign out", destroy_user_session_path, method: :delete}
      - else
        = link_to "Sign up", new_user_registration_path
        or #{link_to "Login", new_user_session_path}
    - flash.each do |name, message|
      = content_tag :div, message, id: "flash_#{name}"
    .container-fluid
      = yield
