!!!
%html
  %head
    %title Groovemetrics
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = nav_bar brand: "Groovemetrics", static: :top
    .container-fluid
      .row-fluid
        .span3
          Side bar
        .span9
          / Body content
          = yield