!!!
%html
  %head
    %title Groovemetrics
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render partial: "/layouts/navigation"
    - flash.each do |name, message|
      = content_tag :div, message, id: "flash_#{name}", class: "alert alert-#{name}"
    .container
      = yield
