.panel.panel-default
  .panel-heading
    %h3.panel-title Search
  .panel-body
    = form_tag(search_orders_path, method: :get, role: :form) do
      .form-group
        = label_tag(:item_id, "Item")
        = hidden_field_tag(:item_id, class: "form-control")
      .form-group
        = label_tag(:region_id, "Region")
        = hidden_field_tag(:region_id, class: "form-control")
      .form-group
        = label_tag(:station_id, "Station")
        = hidden_field_tag(:station_id, class: "form-control")
      %button.btn.btn-primary{type: :submit}
        &nbsp;
        %span.glyphicon.glyphicon-search
        &nbsp;
