.panel-group#search-panel-group{ role: :tablist, aria: { multiselectable: :false } }
  .panel.panel-default
    .panel-heading#search-panel-heading{ role: :tab }
      %h3.panel-title
        %a{ aria: { controls: "search-panel", expanded: :false }, href: "#search-panel", data: { toggle: :collapse, parent: "#search-panel-group" } } Search
    .panel-collapse.collapse#search-panel{ aria: { labelledby: "#search-panel-heading" } }
      .panel-body
        = form_tag(search_orders_path, method: :get, role: :form) do
          .form-group
            = label_tag(:item, "Item")
            = hidden_field_tag(:item, @item, class: "form-control")
          .form-group
            = label_tag(:region, "Region")
            = hidden_field_tag(:region, @region, class: "form-control")
          .form-group
            = label_tag(:station, "Station")
            = hidden_field_tag(:station, @station, class: "form-control")
          %button.btn.btn-primary.icon-button{type: :submit, title: "Search"}
            %span.glyphicon.glyphicon-search
