%h1 My Library

%ul
  - @current_user_library.each do |book|
    - link_display = "#{book[:title]}"
    %li.images.col-md-4.col-md-4.col-md-4.col-md-4
      - if book[:thumbnail_url]
        = image_tag("#{book[:thumbnail_url]}", :class => "thumbnails")
      - else
        = image_tag("http://upload.wikimedia.org/wikipedia/en/f/f9/No-image-available.jpg", :class => "thumbnails")        
      %br
      = link_to(name = link_display, url = "/books/item/#{book[:oclc]}")

