%h1 My Library

%ul.row
  - @current_user_library.each do |book|
    - link_display = "#{book[:title]}"
    %li.col-lg-2.col-md-2.col-sm-3.col-xs-4
      = image_tag("#{book[:thumbnail_url]}", :class => "style_image")
      %br
      = link_to(name = link_display, url = "/books/item/#{book[:oclc]}")
