%h1 My Library

%ul.spaceUnder
  - @current_user_library.each do |book|
    - link_display = "#{book[:title]}"
    %li.col-md-3
      = image_tag("#{book[:thumbnail_url]}", :class => "thumbnails")
      %br
      = link_to(name = link_display, url = "/books/item/#{book[:oclc]}")
