<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @performer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @performer.description %>
</p>

<%= link_to 'Edit', edit_performer_path(@performer) %> |
<%= link_to 'Back', performers_path %>
