<%= form_for(@performance) do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% @performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :show_id %><br>
    <%= f.text_field :show_id %>
  </div>
  <div class="field">
    <%= f.label :performed_on %><br>
    <%= f.date_select :performed_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
