<tr class="feed-item<%= Array.wrap(feed_class).map { |cls| " #{cls}" }.join %>">
  <% if with_owner %>
  <td><%= feed.user_id %></td>
  <% end %>
  <td><%= feed.title %></td>
  <td><%= feed.description %></td>
  <td class="boolean"><%= feed.public %></td>
  <td class="control-cell">
    <%= link_to 'Show', feed %>
  </td>
<% if (feed.user == current_user) %>
  <td class="control-cell">
    <%= link_to 'Edit', edit_feed_path(feed) %>
  </td>
  <td class="control-cell">
    <%= link_to 'Destroy', feed,
                method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
<% else %>
  <td class="control-cell"></td>
  <td class="control-cell"></td>
<% end %>
</tr>

