<tr class="feed-item">
  <% if with_owner %>
  <td><%= feed.user_id %></td>
  <% end %>
  <td><%= feed.title %></td>
  <td><%= feed.description %></td>
  <td class="boolean"><%= feed.public %></td>
  <td class="control-cell">
    <%= link_to 'Show', feed %>
  </td>
  <td class="control-cell">
    <%= link_to 'Edit', edit_feed_path(feed) %>
  </td>
  <td class="control-cell">
    <%= link_to 'Destroy', feed,
                method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>

