<p id="notice"><%= notice %></p>

<p>
  <strong>Owner user:</strong>
  <%= @feed.owner_user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Public:</strong>
  <%= @feed.public %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
