<p id="notice"><%= notice %></p>

<p>
  <strong>Owner user:</strong>
  <%= @feed.user.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Public:</strong>
  <%= @feed.public %>
</p>

<h2>Event Selection Criteria</h2>

<%= render partial: 'selection_criterium/criteria_list',
           locals: { criteria: @feed.selection_criteria } %>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
