<section>
  <%= render partial: 'legislator', locals: {legislator: @legislator} %>
  <%= render partial: 'contact_details', locals: {legislator: @legislator} %>
</section>

<% if @legislator.sponsorships.present? %>
<section>
  <div class="good-deeds sponsorships">
    <h6>Sponsored Bills (<%= @legislator.sponsorships.count %>)</h6>
    <%= render partial: 'good_deed', collection: @legislator.sponsorships %>
  </div>
</section>
<% end %>

<% if @legislator.cosponsorships.present? %>
<section>
  <div class="good-deeds cosponsorships">
    <h6>Co-sponsored Bills (<%= @legislator.cosponsorships.count %>)</h6>
    <%= render partial: 'good_deed', collection: @legislator.cosponsorships %>
  </div>
</section>
<% end %>

<% if @legislator.good_deeds.blank? %>
<section>
  <div class="empty-message">
    <%= link_to_legislator @legislator, class: 'name' %>
    <span>has not sponsored or co-sponsored any bills yet.</span>
  </div>
</section>
<% end %>
