<tr class="card" id="card-<%= card.id %>">
  <td class="card-name"><%= link_to card.name, card %></td>
  <% if deck %>
    <td class="card-type"><%= types_to_html(card.types) %></td>
    <td class="mana-cost"><%= mana_cost_to_html(card.cost) %></td>
    <td class="deck-stats">
      <%= link_to image_tag("plus.png", rel: "Add to deck"), "/add_card_to_deck/#{deck.id}/#{card.id}", remote: true, class: "add" %>
      <span class="number-in-deck n-for-<%= card.id %>"><%= find_number_of_card_in_deck(deck.id, card.id) %></span>
      <%= link_to image_tag("minus.png", rel: "Remove from deck"), "/remove_card_from_deck/#{deck.id}/#{card.id}", remote: true, class: "remove" %>
    </td>
  <% end %>
</tr>
