= render partial: 'users/devise_error_messages', locals: { resource: resource }
.col-xs-12.col-sm-7.col-md-5
  .panel.panel-default
    .panel-body
      %h2
        Edit #{resource_name.to_s.humanize}
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          .alert.alert-warning
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          = f.label :password
          %i (leave blank if you don't want to change it)
          = f.password_field :password, autocomplete: "off", class: 'form-control'
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        .form-group
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          = f.password_field :current_password, autocomplete: "off", class: 'form-control'
        .form-group
          = f.submit "Update", class: 'btn btn-default'
.col-xs-12.col-sm-7.col-md-5.col-lg-4
  .panel.panel-default
    .panel-body
      %h3 Cancel my account
      %p
        = link_to "Cancel my account", registration_path(resource_name),
          data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default'
