%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"type" => "button",
        "data-toggle" => "collapse",
        "data-target" => "#navbar",
        "aria-expanded" => "false",
        "aria-controls" => "navbar"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Publishr", home_path, class: "navbar-brand"
    .navbar-collapse.collapse#navbar
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to (fa_icon("book")+" Library"), ebooks_path, id: "library_btn"
        - if user_signed_in?
          %li
            = link_to (fa_icon("leanpub")+" My Books"), my_ebooks_path,
              id: "my_books_btn"
          %li
            = link_to (fa_icon("user")+" My Profile"),
              user_profile_path(current_user),
              id: "my_profile_btn"
          %li
            = link_to (fa_icon("sign-out")+" Sign Out"),
              destroy_user_session_path, method: :delete,
              id: "sign_out_btn"
        - else
          %li
            = link_to (fa_icon("sign-in")+" Sign In"), new_user_session_path,
              id: "sign_in_btn"
