!!!
%html
  %head
    %title Cyoa
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "https://www.youtube.com/iframe_api"
    = javascript_include_tag "https://code.jquery.com/jquery-1.11.3.min.js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.unselectable
    = yield

