!!!
%html
  %head
    %title
      Publishr
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render "layouts/navbar"
    = render "layouts/alerts"
    .container
      = yield
