<div class="col-md-12">
    <form name="activationForm" id="activationForm" rc-submit="submit()" class="form-horizontal row" novalidate ng-hide="bombActive">
        <% @form_fields.each_with_index do |field, index| %>
            <div class="form-group" ng-class="errorClass(activationForm.<%= field %>)">
                <div class="control-group">
                    <label class="control-label" for="<%=field%>"><%=field.humanize.titleize%></label>

                    <div class="controls">
                        <a class="form-control" data-ng-model="<%=field%>"
                           <% unless field.eql?('detonation_time') %>
                           type="number"
                           <% else %>
                            type="dateTime"
                            <% end %>
                           id="<%= field %>"
                           ng-minlength="4" data-ng-keypad-input="numeric"
                           data-ng-keypad-restrict="^[0-9]{0,4}$"
                           name="<%= field %>" required autofocus tabindex='<%= index+1 %>'>{{<%=field%>}}</a>
                            <span class="help-block"
                                  ng-show="showError(activationForm.<%=field%>)">
                                {{errorMessage(activationForm.<%=field%>)}}
                            </span>
                    </div>
                </div>
            </div>
                <!--<span ng-bind-template="Activation Code: {{activationCode}}">Activation Code: Not Set</span>-->
        <% end %>
    </form>


    <div data-ng-keypad="numeric" data-auto-close="false" data-ng-draggable class="numpad row">
        <div ng-include="" src="'partials/keypad/numeric-iphone.html'"></div>
    </div>
    <!--<form class="form-inline">-->
    <!--<div class="form-group col-md-12">-->
    <!--<label for="bomb-timer">Detonation Time</label>-->
    <!--<input type="text" class="form-control" id="bomb-timer" placeholder="Time until detonation">-->
    <!--<label for="bomb-activation-coder">Activation Code</label>-->
    <!--<input type="text" class="form-control" id="bomb-activation-code" placeholder="Enter Activation Code">-->
    <!--<label for="bomb-deactivation-code">Deactivation Code</label>-->
    <!--<input type="text" class="form-control" id="bomb-deactivation-code" placeholder="Enter Deactivation Code">-->
    <!--</div>-->
    <!--</div>-->
</div>