<!DOCTYPE html>
<html lang="en" ng-app="bombApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Villain Bomb</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/jquery.steps.css" rel="stylesheet">
    <style type="text/css">
        @import url("css/bomb.css");
        @import url("css/keypad-numeric.css");
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="BombController" >
<div id="tentacle-container"></div>
<div class="jumbotron text-right" id="timer-jumbotron" >
    <div class="container">
        <div id="jumbo-status">{{bombStatus}}</div>
        <timer interval="1000" autostart="false" ng-show="!bombExploded">{{countdown}}</timer>
        <div ng-show="bombExploded">BOOM</div>
    </div>

</div>

<div class="container">
    <%= yield %>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/jquery.js"></script>
<script src="js/jquery.steps.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular.js"></script>
<script src="js/directives/rcSubmit.js"></script>
<script src="js/directives/rcVerifySet.js"></script>
<script src="js/modules/rcDisabled.js"></script>
<script src="js/modules/rcForm.js"></script>
<script src="js/modules/ngKeypad_bomb.js"></script>
<script src="js/modules/ngDraggable.js"></script>
<script src="js/modules/timer.js"></script>
<script src="js/modules/tinycolor.js"></script>
<!--<script src="angular-resource/js/angular-resource.js"></script>-->
<!--<script src="angular-route/js/angular-route.min.js"></script>-->
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script src="js/controllers/BombActivationController.js"></script>
<script src="js/services.js"></script>
<script src="js/sprintf.js"></script>
<script src="http://soulwire.github.io/sketch.js/js/sketch.min.js"></script>
<script src="js/dat.gui.min.js"></script>
<!--<script src="http://dat-gui.googlecode.com/git/build/dat.color.min.js"></script>-->
<script src="js/tentacles.js"></script>

<script type="application/javascript">
    $(document).ready(function(){

//        scope = angular.element('[ng-controller=BombController]').scope();
//        scope.activationCode = '<%= session[:activationCode] || '' %>';
//        scope.deactivationCode = '<%= session[:deactivationCode] || '' %>';
//        scope.detonationTime = timeFormatter('<%= session[:detonationTime] || '' %>');
//        scope.bombActive = Boolean(Number('<%= session[:bombActive] ? 1:0 %>'));
    });

</script>



</body>
</html>