<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div id="header">
    <%= render 'shared/logo' %>
    <%= render "shared/top_nav" %>
  </div>

  <% flash.each do |message_type, message| %>
    <div class="panel alert <%= message_type %>"><%= message %></div>
  <% end %>

  <div id="wrapper">
    <%= yield %>
  </div>

</body>
</html>
