<!DOCTYPE html>
<html>
<head>
  <title><%= yield(full_title(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="logo">
    <h1>MTG</h1>
    <h2>DECK BUILDER</h2>
  </div>
  <%= render "shared/top_nav" %>
</div>

<% flash.each do |message_type, message| %>
  <div class="panel alert <%= message_type %>"><%= message %></div>
<% end %>

<div id="wrapper">
  <%= yield %>
</div>

</body>
</html>
