<h3><%= @deed.deed %></h3>

<hr />

<h4>Basics</h4>
<%= render partial: "layouts/generic_object_details", locals: {object: @deed} %>

<h4>Legislator</h4>
<div>
  <%= render partial: "legislators/legislator_stub_item", locals: {legislator: @legislator, deed: @deed} %>
</div>

<h4>Bill</h4>
<div>
  <%= render partial: "bills/bill_stub_item", locals: {bill: @bill} %>
</div>

<h4>Related Deeds</h4>
<% @related_deeds.each do |deed| %>
  <div><%= render partial: "deeds/deed_stub_item", locals: {deed: deed} %></div>
<% end %>
<%= "There are no related deeds" if @related_deeds.count == 0 %>

<hr />

<p align="center"><%= link_to "Back to Good Deeds", deeds_path %></p>