<h3><%= @deed.deed %></h3>

<hr />

<h4>Basics</h4>
<blockquote>
  <%= render partial: "layouts/generic_object_details", locals: {object: @deed} %>
</blockquote>

<h4>Legislator</h4>
<blockquote>
  <%= render partial: "legislators/legislator_stub_item", locals: {legislator: @legislator, deed: @deed} %>
</blockquote>

<h4>Bill</h4>
<blockquote>
  <%= render @bill %>
</blockquote>

<h4>Related Deeds</h4>
<blockquote>
  <% @related_deeds.each do |deed| %>
    <%= render partial: "deeds/deed_stub_item", locals: {deed: deed} %>
  <% end %>
  <%= "There are no related deeds" if @related_deeds.count == 0 %>
</blockquote>

<hr />

<p class="back_link"><%= link_to "Back to Good Deeds", deeds_path %></p>