.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".navbar-collapse", :type=>"button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Happenings", "/", :class=>'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if !user_signed_in?
          %li
            = link_to "Sign In", new_user_session_path
          %li
            = link_to "Sign Up", new_user_registration_path
        - else
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
              Event Feed Source
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'Theatre In Chicago', events_path(source: :theatre_in_chicago), :target => "_blank"
          %li
            = link_to "Edit Account", edit_user_registration_path
          %li
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
