<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @forecast_daily.first do |forecast| %>
    <h1>Weather for <%= forecast.start_date_in_app_time_zone %></h1>
    <ul>
      <li>Min Temperature: <%= forecast.mint %></li>
      <li>Max Temperature: <%= forecast.maxt %></li>
      <% @forecast_three_hour.each do |forecast_t| %>
      <li><%= forecast_t.start_time_in_app_time_zone %>
        <ul>
          <li>Cloud Cover: <%= forecast_t.cloud_cover_pct %></li>
          <li><img src="<%= forecast.icon_link %>" /></li>
          <% if forecast_t.has_weather_type_display_data? %>
            <li><%= forecast_t.weather_type_display.titleize %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
    <% end %>
    <p>
      To see all weather for the next week: <%= @weather_url %>.
    </p>
    <p>Thanks for using our service and have a great day!</p>
  </body>
</html>