<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <%= date.day %>
      <ul>
      <% @events_by_date.each do |event| %>
        <% puts event.inspect  %>
        <% if event.date==date %>
          <li><%= link_to event.title, event %></li>
          <li><%= event.time.strftime("%l:%M:%p") %></li>
          <li><%= event.location %></li>
        <% end %>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>