<%= form_for(@event_date) do |f| %>
  <% if @event_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_date.errors.count, "error") %> prohibited this event_date from being saved:</h2>

      <ul>
      <% @event_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :venue_id %><br>
    <%= f.text_field :venue_id %>
  </div>
  <div class="field">
    <%= f.label :date_time %><br>
    <%= f.datetime_select :date_time %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
