<h1>Listing event_dates</h1>

<table>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Date time</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_dates.each do |event_date| %>
      <tr>
        <td><%= event_date.venue %></td>
        <td><%= event_date.date_time %></td>
        <td><%= event_date.event %></td>
        <td><%= link_to 'Show', event_date %></td>
        <td><%= link_to 'Edit', edit_event_date_path(event_date) %></td>
        <td><%= link_to 'Destroy', event_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event date', new_event_date_path %>
