<div id="CategoryMenuBar" class="menu">
  <nav id="PageNav" class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button" id="CategoryMenuButton"
            data-toggle="dropdown" aria-expanded="false">
          I Like To...
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="CategoryMenuButton">
    <% event_categories.each do |category| %>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
            <%= category %></a></li>
    <% end %>
        </ul>
      </li>
<%= render partial: "shared/menuitem",
           locals: { link_name: "My Feeds", uri: "#" } %>

<%= render partial: "shared/menuitem",
           locals: { link_name: "Contact Us", uri: contact_us_path } %>

<%= render partial: "shared/menuitem",
           locals: { link_name: "About Us", uri: about_us_path } %>

<%= render partial: "shared/menuitem",
           locals: { link_name: "Privacy Policy", uri: privacy_policy_path} %>
    </ul>
  </nav>
</div>
