<div id="PageTitle">
  <div id="PageTitleHeader">
    <h1 class="page-title">
      <%= link_to "What's Up In Chicago", root_path %>
    </h1>
  </div>
  <div id="PageTitleGraphic">
    <img src="<%= image_path("chicago-flag-star.svg") %>" class="chicago-flag-star">
    <img src="<%= image_path("chicago-flag-star.svg") %>" class="chicago-flag-star">
    <img src="<%= image_path("chicago-flag-star.svg") %>" class="chicago-flag-star">
    <img src="<%= image_path("chicago-flag-star.svg") %>" class="chicago-flag-star">
  </div>
</div>
