<div class="panel">
  <h5>
    <%= "Legislator:" %>
    <%= raw "#{link_to legislator.full_name, legislator}" if legislator %>
    <%= "#{deed.bioguide_id}" unless legislator %>
  </h5>
  <p><em><%= "#{legislator.chamber.titleize} #{legislator.full_party} from #{legislator.state}" %></em></p>
  <p class="supporting-date">Term Started: <%= legislator.term_start.strftime("%B %d %Y") %></p>
</div>