<% provide(:title, 'Venues') %>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 10px">
        <h3><strong>All Venues</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-venue">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Street</th>
            <th>Rating</th>
            <th>Distance (m)</th>
            <th style="color: #a00">Blacklisted</th>
          </tr>
        </thead>
        <% @venues.each do |venue| %>
        <tr>
          <td><%= link_to venue.name, foursquare_path(venue), class: "venue-link", target: "_blank" %></td>
          <td><%= venue.category_name %></td>
          <td><%= venue.street %></td>
          <td><%= venue.rating %></td>
          <td><%= venue.distance %></td>
          <td style="text-align: center">
            <div class="checkbox">
              <label>
                <% @checked = blacklisted?(venue) ? 'checked="checked"' : '' %>
                <input type="checkbox" class="cb-blacklist" <%= @checked %> aria-label="blacklisted" data-venue-id="<%= venue.id %>" >
              </label>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
