.television
  = image_tag "tv3.jpg"
  .player
    .logo
      = image_tag "rclogo.png"
      %p Loading your channels...
    .details
      %span.channel-details
        %span.number= @locals[:channel_number]
        %span.name= @locals[:channel_name]
      %span.show-details
        %span.name= @locals[:show_name]
        %span.duration
    #video
  .toggles
    %i.prev-channel.media-toggle.fa.fa-angle-double-left
    %i.prev-show.media-toggle.fa.fa-caret-left
    .guide-button
      = image_tag "rclogo.png", width: 150
    %i.next-show.media-toggle.fa.fa-caret-right
    %i.next-channel.media-toggle.fa.fa-angle-double-right
  .guide.hidden
    .guide-title Channel Guide
    .ld.ld-caret-up
    .channels
      -@channels.each_with_index do |channel, idx|
        .channel{ class: idx==@locals[:index] ? "active" : "" }
          %i.active-icon.fa.fa-play-circle-o
          %span.channel-number= idx < 9 ? "0#{idx+1}" : idx+1
          %span.channel-name= channel.name
    .ld.ld-caret-down