!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : t('app_name')
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-default.navbar-static-top
      .container-fluid
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/")=t('app_name')
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li= link_to "Courses", courses_path
          = form_tag({controller: '/query', action: 'course'}, method: :get, class: 'navbar-form navbar-left', role: 'search') do
            .form-group
              = text_field_tag :query, '', class: 'form-control', placeholder: "#{t('app_name')} 101"
            = submit_tag 'search', class: 'btn btn-default'
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Help', help_path
            %li= link_to 'About', about_path
            - if current_user
              %li= link_to 'Log out', destroy_user_session_path, method: :delete
            - else
              %li=link_to 'Sign up', new_user_registration_path
              %li=link_to 'Log in', new_user_session_path
    .container
      .row
        = render 'layouts/flash_messages'
      .row
        = yield
      %footer
        %p &copy; #{t('app_name')} 2014
