<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @calendar_event.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar_event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar_event.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @calendar_event.description %>
</p>

<p>
  <strong>Event hash:</strong>
  <%= @calendar_event.event_hash %>
</p>

<p>
  <strong>Family hash:</strong>
  <%= @calendar_event.family_hash %>
</p>

<p>
  <strong>Location:</strong>
  <%= @calendar_event.location %>
</p>

<p>
  <strong>Host:</strong>
  <%= @calendar_event.host %>
</p>

<%= link_to 'Edit', edit_calendar_event_path(@calendar_event) %> |
<%= link_to 'Back', calendar_events_path %>
