<h3>Sign in</h3>

<%= form_for(:session, url: sessions_path) do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit 'Sign-In' %>
<% end %>

<% if defined? failed_to_authenticate %>
<br>
<font color='red'>Wrong email and/or password</font>
<% end %>

<br>
<h4>Don't have an account?
  <%= link_to 'Sign Up', new_user_path %>
</h4>
