<%= form_for(@event_source) do |f| %>
  <% if @event_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_source.errors.count, "error") %> prohibited this event_source from being saved:</h2>

      <ul>
      <% @event_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source_type %><br>
    <%= f.text_field :source_type %>
  </div>
  <div class="field">
    <%= f.label :uri %><br>
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.number_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :last_harvest %><br>
    <%= f.datetime_select :last_harvest %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
