<!DOCTYPE html>
<html>
<head>
  <title>Spotigraph</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="leftSidebar">
    <div class="title">
      <h1>SpotiGraph</h1>
    </div>
    <%= render('layouts/searchbar') %>
  </div>
  <div class="mainContent" id="mynetwork">
    <%= yield %>
  </div>
  <div class="clear"></div>
</div>
</html>

</body>
</html>
