<!-- Edit Fund Modal -->
<div class="modal fade" id="editFundModal" tabindex="-1" role="dialog" aria-labelledby="Edit Fund">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "/funds", method: :patch, id: 'edit-fund-form' do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Fund</h4>
      </div>
      <div class="modal-body">
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, class: 'form-control', required: true %>
        <%= label_tag :amount %>
        <%= number_field_tag :amount, nil, class: 'form-control', required: true, step: 0.01, min: 0 %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag 'Done', class: "btn btn-info" %>
      </div>
      <% end %>
    </div>
  </div>
</div>